<div class="col-sm-3">
  <div class="card mt-5">
    <%= image_tag("product.jpg", class: 'card-img-top', alt: 'Card image cap') %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.desc %></p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>